tags
Vagrantfile
*.log
certs/

dist/
build/
api/
cmd/
internal/message/
internal/templates/
internal/gateway/
internal/storage/
internal/upgrade/
internal/device/
docs/public/
debpackage/
gateway
gateway-arm64
gateway-amd64
gateway-armhf
*.deb
wiki.md

