[Unit]
Description=Iot GateWay
Documentation=http://www.xindong.org
Wants=network-online.target

[Service]
User=root
Group=root
ExecStart=/home/fa/iot/gateway
Restart=on-failure
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
